*.old
*.pyc
.netrwhist
/.nviminfo
/.nvimlog
/.config/fish/fish_history
/.config/fish/fishd*
!.gitkeep
/.CFUserTextEncoding
/.Xauthority
/.dropbox
/.viminfo
/.gem
/.history
/.lein
/.lesshst
/.MacOSX
/.rbenv
/.rnd
/.ssh
/.bash_history
/.zsh_history
/.zcompdump
/.cache/
/.Trash/
/.m2/
/.gradle/
/.config/subliminal.cache.dbm.db
/VirtualBox VMs/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
/code/
/projects/
/.vim/bundle/*
/.vim/plugged/*
/var/ip

