[submodule ".zsh.d/func/zsh-syntax-highlighting"]
	path = .zsh.d/func/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh.d/func/zsh-history-substring-search"]
	path = .zsh.d/func/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".config/nvim/pack/minpac/opt/minpac"]
	path = .config/nvim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac
[submodule ".zsh.d/func/fast-syntax-highlightin"]
	path = .zsh.d/func/fast-syntax-highlightin
	url = git@github.com:zdharma/fast-syntax-highlighting.git
[submodule ".zsh.d/func/zsh-autosuggestions"]
	path = .zsh.d/func/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
