*.old
*.pyc
.netrwhist
!.gitkeep
/.CFUserTextEncoding
/.Xauthority
/.dropbox
/.viminfo
/.gem
/.history
/.lein
/.lesshst
/.MacOSX
/.rbenv
/.rnd
/.ssh
/.bash_history
/.zsh_history
/.zcompdump
/.cache/
/.Trash/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
/code/
/projects/
/.vim/bundle/*
/.vim/plugged/*

