[user]
	name = Andrea Cedraro
{% if on_work_machine %}
	email = andrea.cedraro@hcl.com
{% else %}
	email = a.cedraro@gmail.com
{% endif %}
[core]
	excludesfile = ~/.cvsignore
	editor = nvim
	pager = less -x1,5
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = magenta
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
	whitespace = white reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
	branch = magenta
[diff]
	tool = nvim -d
[difftool]
	prompt = false
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[alias]
	st = status
	co = checkout
	ci = commit --verbose
	cp = cherry-pick
	aa = add --all
	di = diff
	dc = diff --cached
	amend = commit --amend

	remotes = remote -v
	branches = branch -a

	start = "!git init && git commit --allow-empty -m 'A first empty commit to start this project'"
	l = "log --graph --pretty=tformat:'%C(yellow)%h %Cgreen(%ar) %C(blue)<%an> %C(red)%d%Creset %s'"
	r = !git l -30
[pull]
	ff = only

