# Markdown
snippet link
	[${1:text}](http://www.${2:url}.com/)${3}
snippet lid
	[${1:text}][${2:id}]
snippet id
	[${1:id}]: http://www.${2:url}.com/
snippet img
	![${1:alt text}](${2:image path} "${3:title}")${4}
snippet h1
	# ${1:Header}

	${2}
snippet h2
	## ${1:Header}

	${2}
snippet h3
	### ${1:Header}

	${2}
snippet h4
	#### ${1:Header}

	${2}
snippet h5
	##### ${1:Header}

	${2}
snippet h6
	###### ${1:Header}

	${2}
