;; This is the meaning of the key modifiers
;;
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
;;
;; karabiner definition of mandatory and optional
;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

{:profiles

 {:Spacecadet {:default true
               :sim 50
               :delay 500
               :alone 1000
               :held 500}}

 :devices {:internal [{:vendor_id 1452 :product_id 833}]
           :drevo [{:vendor_id 1452 :product_id 544}]
           :leopold [{:vendor_id 1204 :product_id 257}]}

 :applications {:ms_rdp ["^com\\.microsoft\\.rdc$"
                         "^com\\.microsoft\\.rdc\\."]

                :readline_ready ["^org\\.gnu\\.Emacs$"
                                 "^org\\.gnu\\.AquamacsEmacs$"
                                 "^org\\.gnu\\.Aquamacs$"
                                 "^org\\.pqrs\\.unknownapp.conkeror$"
                                 "^com\\.microsoft\\.rdc$"
                                 "^com\\.microsoft\\.rdc\\."
                                 "^net\\.sf\\.cord$"
                                 "^com\\.thinomenon\\.RemoteDesktopConnection$"
                                 "^com\\.itap-mobile\\.qmote$"
                                 "^com\\.nulana\\.remotixmac$"
                                 "^com\\.p5sys\\.jump\\.mac\\.viewer$"
                                 "^com\\.p5sys\\.jump\\.mac\\.viewer\\."
                                 "^com\\.teamviewer\\.TeamViewer$"
                                 "^com\\.vmware\\.horizon$"
                                 "^com\\.2X\\.Client\\.Mac$"
                                 "^com\\.apple\\.Terminal$"
                                 "^com\\.googlecode\\.iterm2$"
                                 "^co\\.zeit\\.hyperterm$"
                                 "^co\\.zeit\\.hyper$"
                                 "^io\\.alacritty$"
                                 "^net\\.kovidgoyal\\.kitty$"
                                 "^org\\.vim\\."
                                 "^com\\.qvacua\\.VimR$"
                                 "^com\\.vmware\\.fusion$"
                                 "^com\\.vmware\\.horizon$"
                                 "^com\\.vmware\\.view$"
                                 "^com\\.parallels\\.desktop$"
                                 "^com\\.parallels\\.vm$"
                                 "^com\\.parallels\\.desktop\\.console$"
                                 "^org\\.virtualbox\\.app\\.VirtualBoxVM$"
                                 "^com\\.citrix\\.XenAppViewer$"
                                 "^com\\.vmware\\.proxyApp\\."
                                 "^com\\.parallels\\.winapp\\."
                                 "^org\\.x\\.X11$"
                                 "^com\\.apple\\.x11$"
                                 "^org\\.macosforge\\.xquartz\\.X11$"
                                 "^org\\.macports\\.X11$"
                                 "^com\\.sublimetext\\."
                                 "^com\\.microsoft\\.VSCode$" ]}

 :main [{:des "Switch option and Command on external keyboards"
         :rules [[:##left_command :left_option [:drevo :leopold]]
                 [:##left_option :left_command [:drevo :leopold]]]}
        {:des "Bring backtick and tilde on first function on 60% keyboard"
         :rules [[:##escape :grave_accent_and_tilde [:drevo]]]}
        {:des "Caps Lock to Escape on single press, Control on press and hold."
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "Left Control to Cap Lock on single press."
         :rules [[:##left_control :left_control nil {:alone :caps_lock}]]}
        {:des "Better Shifting: Parentheses on shift keys"
         :rules [[:left_shift :left_shift nil {:alone :!S9}]
                 [:right_shift :right_shift nil {:alone :!R0}]]}
        {:des "Better Shifting: Shift rolls"
         :rules [[:!Rleft_shift [:left_shift :right_shift] nil {:alone [:!RS0 :!RS9]}]
                 [:!Sright_shift [:right_shift :left_shift] nil {:alone [:!R9 :!S0]}]]}
        {:des "Ctrl+u/w like readline"
         :rules [[:!Tw :!Odelete_or_backspace :!readline_ready]
                 [:!Tu [:!SCleft_arrow {:key :delete_or_backspace :repeat false}] :!readline_ready]]}
        ; {:des "Ctrl+p/Ctrl+n to arrow up/down"
        ;  :rules [[:!Tp :up_arrow]
        ;          [:!Tn :down_arrow]]}
        {:des "Use standard function keys in remote desktop"
         :rules [[:##f1 :!Ff1 :ms_rdp]
                 [:##f2 :!Ff2 :ms_rdp]
                 [:##f3 :!Ff3 :ms_rdp]
                 [:##f4 :!Ff4 :ms_rdp]
                 [:##f5 :!Ff5 :ms_rdp]
                 [:##f6 :!Ff6 :ms_rdp]
                 [:##f7 :!Ff7 :ms_rdp]
                 [:##f8 :!Ff8 :ms_rdp]
                 [:##f9 :!Ff9 :ms_rdp]
                 [:##f10 :!Ff10 :ms_rdp]
                 [:##f11 :!Ff11 :ms_rdp]
                 [:##f12 :!Ff12 :ms_rdp]]}

        ]}
