;; This is the meaning of the key modifiers
;;
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
;;
;; karabiner definition of mandatory and optional
;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

{:profiles

 {:Spacecadet {:default true
               :sim 50
               :delay 500
               :alone 1000
               :held 500}}
 :applications {:safari ["^com\\.apple\\.Safari$"]}
 :main [{:des "Caps Lock to Escape on single press, Control on press and hold."
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "Better Shifting: Parentheses on shift keys"
         :rules [[:left_shift :left_shift nil {:alone :!S9}]
                 [:right_shift :right_shift nil {:alone :!R0}]]}
        {:des "Better Shifting: Shift rolls"
         :rules [[:!Rleft_shift [:left_shift :right_shift] nil {:alone [:!RS0 :!RS9]}]
                 [:!Sright_shift [:right_shift :left_shift] nil {:alone [:!R9 :!S0]}]]}
        ;; XXX(andrea): This shouldn't be only for safari but right now is
        ;; where I miss it more often... will add other applicatin where
        ;; necessary
        {:des "Ctrl+u/w like readline"
         :rules [[:!Tw :!Odelete_or_backspace :safari]
                 [:!Tu [:!SCleft_arrow {:key :delete_or_backspace :repeat false}] :safari]]}
        {:des "Ctrl+p/Ctrl+n to arrow up/down"
         :rules [[:!Tp :up_arrow]
                 [:!Tn :down_arrow]]}
        ]}
