{% if is_macOS %}
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/services"
{% endif %}
tap "vheon/homebrew"

{% if is_macOS %}
brew "coreutils"
brew "libtool"
brew "findutils"
brew "clipper", restart_service: true
brew "mas"
{% endif %}
brew "cmake"
{% if is_macOS %}
brew "clang-format"
{% endif %}
brew "fish"
brew "git"
brew "curl"
brew "go"
# XXX(vheon): I should probably just adapt my formula for macOS as well so it would be consistent
{% if not is_macOS %}
brew "neovim-nightly", args: ["HEAD"]
{% else %}
brew "neovim", args: ["HEAD"]
{% endif %}
brew "conan"
brew "packer"
brew "tmux"
brew "ripgrep"
# XXX(andrea): we might give https://github.com/ogham/exa a try. If it is worth
# it it might be also a replacement for `tree`.
brew "tree"

{% if is_macOS %}
cask "bettertouchtool"
cask "font-jetbrains-mono-nerd-font"
cask "firefox"
cask "google-chrome"
cask "iterm2"
cask "karabiner-elements"

mas "Adblock Plus", id: 1432731683
mas "The Unarchiver", id: 425424353
mas "Turn Off the Lights for Safari", id: 1273998507
mas "WhatsApp", id: 1147396723
{% endif %}
