tap "homebrew/core"
tap "homebrew/bundle"
{% if ansible_os_family | lower == 'darwin' %}
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/services"
{% endif %}

{% if ansible_os_family | lower == 'darwin' %}
brew "coreutils"
brew "libtool"
brew "findutils"
brew "clipper", restart_service: true
{% endif %}
brew "clang-format"
brew "cmake"
brew "elixir"
brew "fennel"
brew "fish"
brew "git"
brew "curl"
brew "go"
brew "mas"
brew "neovim", args: ["HEAD"]
brew "packer"
brew "tmux"
brew "tree"

{% if ansible_os_family | lower == 'darwin' %}
cask "bettertouchtool"
cask "font-jetbrainsmono-nerd-font"
cask "firefox"
cask "google-chrome"
cask "iterm2"
cask "karabiner-elements"
cask "spotify"
cask "vagrant"
cask "virtualbox"
cask "vlc"

mas "Adblock Plus", id: 1432731683
mas "The Unarchiver", id: 425424353
mas "Turn Off the Lights for Safari", id: 1273998507
mas "WhatsApp", id: 1147396723
{% endif %}
